body {
  margin: 0;
  padding: 0;
  width: 1000px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
.profil-pic {
  width: 200px;
}
.nav-bar {
  background-color: rgb(44, 53, 139);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-link {
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid gold;
}
.contact {
  list-style: none;
}
.nav-bar-list {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
.nav-bar-item {
  list-style: none;
}
.nav-bar-item:hover {
  border-bottom: 1px solid gold;
}
.nav-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.main-box {
  display: grid;
  grid-template-columns: repeat(2, 500px);
  grid-gap: 10px;
}
.about-me {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: rgb(44, 53, 139);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px;
}

.bottom-border {
  border-bottom: 4px solid rgb(44, 53, 139);
}
.code-examples {
  grid-column-start: 1;
  grid-column-end: 3;
  height: 500px;
  overflow: scroll;
  width: 600px;
  margin: 0 auto;
}
.example-box {
  width: 1000px;
}
.projects {
  grid-column-start: 1;
  grid-column-end: 3;
}
.main-header {
  text-align: center;
}
.footer-box {
  background-color: rgb(44, 53, 139);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  color: rgb(255, 255, 255);
  height: 80px;
}
.author-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  border-bottom: 1px solid gold;
}
.logo {
  width: 80px;
}
.education-box {
  display: flex;
  align-items: center;
  gap: 10px;
}
.english-level-box {
  display: flex;
  align-items: center;
  gap: 10px;
}
.certification {
  list-style: none;
}
